{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
{% bootstrap_javascript %}
{% bootstrap_css %}
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Question Bachs</h1>
    <h3>Classical Answers for Classical Questions</h3>
    <hr></hr>
    <div class="container">
    {% if request.user.is_authenticated %}
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <a class="btn btn-default" role="button" href="/">Recent Questions</a>
        </div>
        <div class="btn-group" role="group">
          <a class="btn btn-default" role="button" href="/">Help</a>
        </div>
      </div>
    {% else %}
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <a class="btn btn-default" role="button" href="/">Help</a>
        </div>
      </div>
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}
