{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
<div class="container">
  <h1>Most Recent Questions</h1>
  <table class="table table-hover">
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Question</th>
      <th>Timestamp</th>
    </tr>
    <tb>
      {% for question in questions %}
      <tr>
        <td><a href="#">{{ question.profile.username }}</a></td>
        <td><a href="/question/{{ question.id }}">{{ question.title }}</a></td>
        <td>{{question.text}}</td>
        <td>{{question.timestamp}}</td>
      </tr>
      {% endfor %}
    </tb>
  </table>
  {# {% bootstrap_pagination page_obj %}#}
</div>
{% endblock %}
