{%extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="container">
  <h2>{{question.title}}</h2>
  <p>{{question.text}}</p>
  <em>Asked by: {{question.profile.username}} on {{question.timestamp}}</p>
  <h3>Answer</h3>
  {% if request.user.is_authenticated %}
    <form method="POST" action="{% url 'index' %}" class="form-horizontal">
      <legend>Add A New Answer</legend>
      {% csrf_token %}
      {{form.as_p}}
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary" value='submit new question'>Submit</button>
        </div>
      </div>
    </form>
  {% endif %}
  <table class="table table-hover">
    <tr>
      <th>User</th>
      <th>Text</th>
      <th>Timestamp</th>
    </tr>
    <tb>
      {% for answer in answers %}
      <tr>
        <td><a href="#">{{answer.profile_id}}</a></td>
        {# <td><a href="{% url 'profile_page' question.profile.username%}">{{question.user.username}}</a></td>#}
        <td><a href="#">{{answer.text}}</a></td>
        <td>{{answer.timestamp}}</td>
      </tr>
      {% endfor %}
    </tb>
  </table>
</div>
{% endblock %}
